<ngb-carousel style="width: 50%; left: 25%; margin-top: 10%;">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/asp/home/5-tendencias-en-bolsos-de-moda-primavera-verano-2019.webp" alt="Random first slide" style="width: 80%; margin-left: 10%; " />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/asp/home/coleccion.jpg" alt="Random second slide" style="width: 90%; margin-left: 40px;" />
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/asp/home/promocion.jpeg" alt="Random third slide" style="width: 100%; " />
    </div>
  </ng-template>
</ngb-carousel>
