<div class="container" [class.active]="isSidebarActive">
  <app-header (sidebarToggle)="toggleSidebar()" class="header" [class.full-width-header]="!isHeaderActive" [class.auto-width-header]="isHeaderActive"></app-header>

  <div id="sidebar" class="sidebar" [class.active]="isSidebarActive">
    <div class="sidebar-content">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4" style="color: #388A5E;">Menu</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">
            <svg class="bi me-2" width="16" height="16"></svg>
            Profile
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </div>

  <div class="main-content" >
    <app-product></app-product>
  </div>
</div>
