.container {
  display: flex;
  transition: margin-left 0.3s ease;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: white;
  position: fixed;
  left: -250px;
  top: 0;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-200px);
  border-right: 2px solid #B6B6B6
}

.sidebar.active {
  left: 0;
  transform: translateX(0);
}

.sidebar-content {
  padding: 20px;
  color: #388A5E;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.active .main-content {
  margin-left: 250px;
}

.full-width-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: width 0.3s ease;
  z-index: 999;
}

.container.active .full-width-header {
  width: 100%;
}

.auto-width-header {
  margin-left: 15%;
  width: 85%;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.5s ease;
}
