header{
  background: white;
}

.logo-img {
  width: 13%;
}

.bar{
  margin: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.bar-icon{
  color: #388A5E;
  font-size: 3em;
}

.color-container{
  color: #388A5E;
}

.hearder-links{
  margin: auto;
}
