
.container-full {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  background: linear-gradient(to bottom, white, #AEE2C6);
  border-radius: 1rem;
}

.container-auto {
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  background: linear-gradient(to bottom, white, #AEE2C6);
  border-radius: 1rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 60px;
  gap: 1rem;
}

.color-container {
  color: #388A5E;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

app-header {
  position: relative;
  z-index: 1;
}

.last-row-element {
  height: 100%;
}



.container-slider {
  display: flex;
  transition: margin-left 0.3s ease;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: white;
  position: fixed;
  left: -250px;
  top: 0;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-200px);
  border-right: 2px solid #B6B6B6
}

.sidebar.active {
  left: 0;
  transform: translateX(0);
  z-index: 999;
}

.sidebar-content {
  padding: 20px;
  color: #388A5E;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.active .main-content {
  margin-left: 250px;
  /* Aplicar un margen izquierdo solo cuando el sidebar está activo */
}

.full-width-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: width 0.3s ease;
  z-index: 999;
  background-color: #ffffff;
}

/* Estilos para el header cuando el sidebar está activo */
.container.active .full-width-header {
  width: 100%;
  /* El header ocupa toda la pantalla cuando el sidebar está activo */
}

.auto-width-header {
  margin-left: 15%;
  width: 87%;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}
